<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" id="photo" name="photo" class="input-photo" accept="image/png, image/jpeg" data-multiple-caption="{count} files selected" multiple required/>
    <label for="photo" class="label-photo"><span>Ajoutez vos photos</span></label>
    <button type="submit" class="button-photo" >Valider</button>
</form>
<script src="/js/input.js"></script>